<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Cardill Sports</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Angular 2 JumpStart">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://s3.amazonaws.com/cardillsports/csLogo.png" rel="icon" type="image/png"/>

</head>
<body>

   Hello World

</body>
</html>
